body {
    margin: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body * {
    font-family: 'Tiny5';
}

table#game-field {
    border-collapse: separate;
    margin-bottom: 100px;
    margin: auto;
    position: relative;
    transition: .15s;
    width: fit-content;
    overflow: auto;
    border-radius: 5px;
    padding: 5px;
}

table#game-field.end {
    animation: shake .25s linear;
}

table#game-field.win {
    animation: glowTableWin .5s linear;
    box-shadow: 0 0 20px 5px #225222;
    background-color: #2252224d;
}

table#game-field.lose {
    animation: glowTableLose .5s linear;
    box-shadow: 0 0 20px 5px #ff0000;
    background-color: #ff00004d;
}

#game-status {
    text-shadow: 0 0 #ff0000;
}

#game-status.lose {
    animation: glowLose .65s linear;
    text-shadow: 0 0 2px #ff0000;
}

#game-status.win {
    animation: glowWin .65s linear;
    text-shadow: 0 0 2px #225222;
}

@keyframes glowWin {
    0% {
        text-shadow: 0 0 #225222;
    } 50% {
        text-shadow: 0 0 4px #225222;
    } 100% {
        text-shadow: 0 0 2px #225222;
    }
}

@keyframes glowLose {
    0% {
        text-shadow: 0 0 #ff0000;
    } 50% {
        text-shadow: 0 0 4px #ff0000;
    } 100% {
        text-shadow: 0 0 2px #ff0000;
    }
}

@keyframes glowTableWin {
    0% {
        box-shadow: 0 0 0 0 #225222;
    } 50% {
        box-shadow: 0 0 20px 4px #225222;
    } 75% {
        box-shadow: 0 0 10px 4px #225222;
    } 100% {
        box-shadow: 0 0 20px 4px #225222;
    }
}

@keyframes glowTableLose {
    0% {
        box-shadow: 0 0 0 0 #ff0000;
    } 50% {
        box-shadow: 0 0 20px 4px #ff0000;
    } 75% {
        box-shadow: 0 0 10px 4px #ff0000;
    } 100% {
        box-shadow: 0 0 20px 4px #ff0000;
    }
}

@keyframes shake {
    0% {
        left: 0px;
    } 20% {
        left: -5px;
    } 40% {
        left: 5px;
    } 60% {
        left: -5px;
    } 80% {
        left: 5px;
    } 100% {
        left: 0px;
    }
}

@keyframes blow {
    0% {
        scale: 1;
    } 25% {
        scale: 1.5;
        transform: rotate(90deg);
    } 50% {
        scale: 2;
        transform: rotate(180deg);
    } 75% {
        scale: 1.5;
        transform: rotate(270deg);
    } 100% {
        scale: 1;
        transform: rotate(360deg);
    }
}

table#game-field.end {
    cursor: not-allowed;
    pointer-events: none;
}

table#game-field td {
    background-color: #c3a188;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    transition: .15s;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
    color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

table#game-field td:hover,
table#game-field td.hover {
    background-color: #edb3a1;
}

table#game-field td.opened {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #c3a18a42;
}

table#game-field td.opened.mine {
    scale: 1.5;
}

form#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
}

.form-group input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

.form-group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#counters--wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-top: 10px;
}

.counter {
    font-weight: 600;
}

.game-info {
    margin: unset;
    text-align: center;
    font-weight: 100;
}

td.mine.faggot {
    animation: blow .4s linear/*cubic-bezier(0.43, 0.08, 0.4, 0.99);*/
}

#game-field.win td.mine {
    background-image: url('./assets/mine-green.svg');
    background-color: #00c6438d !important;
    box-shadow: 0 0 1px 1px #2252224d !important;
}


td.flag {
    background-image: url('./assets/flag.svg');
    background-color: #48488C;
}

td.mine {
    background-image: url('./assets/mine.svg');
    background-color: #ef585875 !important;
    box-shadow: 0 0 1px 1px #ef5858;
}

td.mine,
td.flag {
    background-position: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0px;
    animation: appear .15s linear;
}

@keyframes appear {
    0% {
        background-position-y: -40px;
    }
    100% {
        background-position-y: 0px;
    }
}

td.flag.mine {
    background-image: url('./assets/flag-green.svg');
}

#game-status {
    text-align: center;
}

#game-status.win {
    color: #008000
}

#game-status.lose {
    color: #F00000
}

td[data-value] {
    text-shadow: 0 0 2px black;
}

td[data-value="1"] {
    color: #00c643 !important;
}

td[data-value="2"] {
    color: #1ffd6a !important;
}

td[data-value="3"] {
    color: #d0f364 !important;
}

td[data-value="4"] {
    color: #ffff00 !important;
}

td[data-value="5"] {
    color: #ffcd47 !important;
}

td[data-value="6"] {
    color: #ff9e00 !important;
}

td[data-value="7"] {
    color: #e57c36 !important;
}

td[data-value="8"] {
    color: #e82900 !important;
}
