body {
    margin: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body * {
    font-family: 'Tiny5';
}

table#game-field {
    border-collapse: separate;
    margin-bottom: 100px;
    margin: auto;
}

table#game-field.end {
    cursor: not-allowed;
    pointer-events: none;
}

table#game-field td {
    background-color: #c3a188;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .15s;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
    color: transparent;
}

table#game-field td:hover {
    background-color: #edb3a1;
}

table#game-field td.opened {
    background-color: #ffe9d1;
}

form#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
}

.form-group input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

.form-group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#counters--wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-top: 10px;
}

.counter {
    font-weight: 600;
}

.game-info {
    margin: unset;
    text-align: center;
    font-weight: 100;
}

td.mine {
    background-position: center;
    background-size: cover;
    background-image: url('./assets/mine.svg');
    background-color: #C77777;
}

td.flag {
    background-position: center;
    background-size: cover;
    background-image: url('./assets/flag.svg');
    background-color: #48488C;
}

td.flag.mine {
    background-image: url('./assets/flag-green.svg');
}

#game-status {
    text-align: center;
}

#game-status.win {
    color: #008000
}

#game-status.lose {
    color: #F00000
}

td[data-value] {
    text-shadow: 0 0 2px black;
}

td[data-value="1"] {
    color: #00c643 !important;
}

td[data-value="2"] {
    color: #1ffd6a !important;
}

td[data-value="3"] {
    color: #d0f364 !important;
}

td[data-value="4"] {
    color: #ffff00 !important;
}

td[data-value="5"] {
    color: #ffcd47 !important;
}

td[data-value="6"] {
    color: #ff9e00 !important;
}

td[data-value="7"] {
    color: #e57c36 !important;
}

td[data-value="8"] {
    color: #e82900 !important;
}